In [3]:
import pandas
import numpy as np
frame = pandas.read_csv('datos.csv')
frame.describe()
frame.head()

       Unidad Parametro   A�o  Mes  D�a      Fecha   Valor  Area
0        mg/L    P tot.  2018    5   17  5/17/2018     0.2  AV10
1        mg/L    P tot.  2018    3    2   3/2/2018     0.1  AV10
2        mg/L    P tot.  2018    5   14  5/14/2018     0.2  CA10
3  NMP/100 ml        CF  2018    5   17  5/17/2018  1600.0  CL30
4  NMP/100 ml        CF  2018    5   17  5/17/2018  1600.0  RI10

In [5]:
frame_rapel = pandas.read_csv('datos_Rapel.csv')
frame_rapel.head()

       Unidad Parametro   A�o  Mes  D�a      Fecha   Valor  Area
0        mg/L    P tot.  2018    5   17  5/17/2018     0.2  AV10
1        mg/L    P tot.  2018    3    2   3/2/2018     0.1  AV10
2        mg/L    P tot.  2018    5   14  5/14/2018     0.2  CA10
3  NMP/100 ml        CF  2018    5   17  5/17/2018  1600.0  CL30
4  NMP/100 ml        CF  2018    5   17  5/17/2018  1600.0  RI10